/* ======================
==    Home page CSS start
========================*/
.home .main_header {
    background-color: transparent;
}
.home .shrink-header .main_header {
    background-color: #000000;
}
.home .home-banner .elementor-column-gap-default > .elementor-column > .elementor-element-populated {
    padding: 0;
}

.home .home-banner {
    z-index: 1;
}

.home .single-slide .elementor-button {
    background: #000000 !important;
    text-transform: uppercase;
    color: #ffffff !important;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 18px 48px;
    letter-spacing: 0.2em;
    -webkit-transition: all 0.3s linear !important;
    -o-transition: all 0.3s linear !important;
    transition: all 0.3s linear !important;
    border: none !important;
    /*     -webkit-box-shadow: 5px 5px 15px rgba(39, 49, 74, 0.22) !important;
        box-shadow: 5px 5px 15px rgba(39, 49, 74, 0.22) !important; */
    outline: none !important;
    border-radius: 0 !important;
}

.home .single-slide .elementor-button:hover {
    background: #F2F2F2 !important;
    color: #000000 !important;
}

/* News Section*/
.news-section .elementor-widget:not(:last-child), .telescope-section .elementor-widget:not(:last-child), .universe-section .elementor-widget:not(:last-child), .stewardship-section .elementor-widget:not(:last-child) {
    margin-bottom: 0 !important;
}

.recent_post_img {
    position: relative;
}

.recent_post_img img {
    width: 100%;
    overflow: hidden;
}

.recent_post_img .post-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    z-index: 150;
    width: 100%;
    height: 100%;
}

.recent_post_img .arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 46px;
    height: 39px;
    border: none;
    background: #ffffff;
    box-shadow: none;
    outline: none;
}

.recent_post_img .category-link {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 9999;
    font-size: 10px;
    line-height: 2.4em;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: .1em;
    background: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}

.recent_post_img .category-link:hover,
.recent_post_img .category-link:active,
.recent_post_img .category-link:focus {
    background: #000000;
    color: #ffffff;

}

.recent_post_content {
    margin-top: 50px;
}

.recent_post_content .date {
    font-size: 18px;
    line-height: 1.333;
    color: #919295;
    margin-bottom: 10px;
}

.recent_post_content a {
    max-width: 375px;
}

.recent_post_content a .title {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    line-height: 1.68em;
    font-weight: 400;
    color: #1a1a1a;
    word-break: break-word;
}

.site_cta.black_btn a {
    background: #000000 !important;
    color: #ffffff !important;
    padding: 27px 28px;
}

.telescope-section .section_title h2 {
    margin-bottom: 10px !important;
}

.telescope-section .site_cta a {
    padding: 20px 45px;
}

.universe-section .site_cta a {
    padding: 24px 35px;
}

.stewardship-section .site_cta a {
    padding: 22px 54px;
}

.stewardship-section > .elementor-container {
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

.slide_item {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.slide_item_img {
    width: 100%;
    position: relative;
}

.slide_item_url {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.slide_item_content {
    margin-top: 90px;
    text-align: center;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}
.community-section .elementor-widget:not(:last-child) {
    margin-bottom: 0 !important;
}

.our-community {
    max-width: 750px;
    margin: 0 auto;
}
.slick-arrow {
    position: absolute;
    top: 30%;
    left: -25%;
}

.slick-arrow.right {
    left: 119%;
    transform: rotate(180deg);
}
.slick-dots li {
    background: #f2f2f2;
    border-radius: 50px;
    width: 10px;
    height: 10px;
}
.slick-dots li.slick-active {
    background: #000000;
}
.slick-dots button {
    display: none;
}

/** Testimonial Section */
.testimonials {
    margin-top: -63px;
}
.testimonial_slide_item .slide_item_content {
    text-align: left;
    padding-top: 120px;
}
.testimonial_slide_item .slide_content {
    margin-bottom: 30px;
}
.testimonial_slide_item .slide_title {
    margin-bottom: 0;
}
.testimonial_slide_item .slide_name {
    margin-bottom: 30px;
}
.testimonial_slide_item .testimonial_slide_item_url {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    background: #000000;
    color: #ffffff;
    padding: 18px 48px;
    letter-spacing: 0.2em;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 0;
    transition: all 0.3s linear;
}
.testimonial_slide_item .testimonial_slide_item_url:hover,.testimonial_slide_item .testimonial_slide_item_url:active,.testimonial_slide_item .testimonial_slide_item_url:focus {
    background: #F2F2F2;
    color: #000000;
}

.testimonials .slick-dots {
    bottom: 33px;
    left: 60%;
    width: auto;
}
.testimonials .slick-dots li button {
    display: none;
}