/* ======================
==    Default CSS start
========================*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.area {
    width: 100%;
    float: left;
}

a,
button,
input,
textarea {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    color: #042825;
    margin: 0 0 15px;
    font-family: 'Playfair Display', serif;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #2D3748;
}

main.area {
    min-height: 700px
}

img {
    height: auto;
    max-width: 100%;
}

img.alignright {
    float: right;
    margin: 25px 0 25px 25px
}

img.alignleft {
    float: left;
    margin: 25px 25px 25px 0
}

img.aligncenter {
    display: block;
    margin: 25px auto
}

.section_padding .vc_column-inner {
    padding-top: 0 !important
}

.site_cta a,
a.site_cta,
.site_cta input,
input.site_cta,
.site_cta button,
button.site_cta {
    background: #ffffff !important;
    text-transform: uppercase;
    color: #000000 !important;
    font-size: 14px;
    font-weight: 500 !important;
    text-align: center;
    padding: 18px 48px;
    letter-spacing: 0.2em;
    -webkit-transition: all 0.3s linear !important;
    -o-transition: all 0.3s linear !important;
    transition: all 0.3s linear !important;
    border: none !important;
    /*     -webkit-box-shadow: 5px 5px 15px rgba(39, 49, 74, 0.22) !important;
        box-shadow: 5px 5px 15px rgba(39, 49, 74, 0.22) !important; */
    outline: none !important;
    border-radius: 0;
}

.site_cta a:hover,
a.site_cta:hover,
.site_cta a:focus,
a.site_cta:focus,
.site_cta a:active,
a.site_cta:active,
.site_cta input:hover,
input.site_cta:hover,
.site_cta input:focus,
input.site_cta:focus,
.site_cta input:active,
input.site_cta:active,
.site_cta button:hover,
button.site_cta:hover,
.site_cta button:focus,
button.site_cta:focus,
.site_cta button:active,
button.site_cta:active {
    /*-webkit-box-shadow: 5px 5px 25px rgba(39, 49, 74, 0.52) !important;*/
    /*box-shadow: 5px 5px 25px rgba(39, 49, 74, 0.52) !important;*/
}

a.site_cta.hide {
    display: none !important;
}

.section_overlay {
    position: relative;
    z-index: 1
}

.section_overlay::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(4, 7, 22, .6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: inline-block !important
}

.admin-bar .site_header {
    margin-top: 32px;
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ======================
==    Header CSS start
========================*/

.header_logo {
    max-width: 225px;
}

.header_top-section {
    background: #06102B;
    padding: 10px 0;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.header_top-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.header_top-content ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 40px;
}

.header_top-content ul li p {
    color: #ffffff;
    margin: 0 0 0 10px;
    font-size: 14px;
}

.header_nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.menu_icons ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu_icons ul li {
    display: inline-block;
    margin-left: 20px;
}

.dropdown-toggle::after {
    display: none;
}

.header_menu li.site_cta {
    margin: 0 20px 0 50px;
}

.header_menu li.site_cta a {
    padding: 12px 25px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.menu_icons ul li {
    position: relative;
    cursor: pointer;
}

.header_menu li a {
    font-size: 18px;
    line-height: 1.2;
    color: #ffffff;
    font-weight: 400;
    display: inline-block;
    padding: 10px 28px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    text-transform: uppercase;
    position: relative;
}

.header_menu {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header_menu li a:hover::after,
.header_menu li a:focus::after {
    position: absolute;
    content: "";
    width: 70%;
    background-color: #ffffff;
    bottom: 0;
    height: 3px;
    left: 15%;
    right: 15%;
}

.header_menu li.menu-item-has-children a {
    position: inherit;
}

.header_menu li.menu-item-has-children a:hover::after {
    display: none;
}

/*.header_menu li.menu-item-has-children:hover .dropdown-menu {*/
/*    display: flex;*/
/*}*/
.main_header .navbar {
    padding: 0;
}

.main_header {
    padding: 16px 0;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background-color: #000000;
}

.site_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*background: #FCFCFC;*/
    z-index: 99999;
}

.site_header.shrink-header .header_top-section {
    padding: 10px 0;
}

.site_header.shrink-header .main_header {
    padding: 15px 0;
}

.search_bar form .form-control {
    outline: none !important;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
    min-height: 45px;
    padding-right: 45px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.search_bar form .form-control:focus {
    /*border-color: #06102B;*/
}

.search_bar form {
    position: relative;
}

.search_bar form button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    outline: none !important;
    padding: 12px 10px;
}

.search_bar {
    position: absolute;
    width: 300px;
    right: -12px;
    bottom: -100px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.menu_icons ul li p {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    display: none;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    color: #06102B;
    position: relative;
    top: 3px;
}

.menu_icons ul li .search_close {
    display: none;
}

.menu_icons ul li p.search_close {
    width: 25px;
    font-size: 17px;
    line-height: 1.5em;
}

/* .search_trigger.clicked img {
    display: none;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.search_trigger.clicked .search_close {
	display: block;
} */

.search_trigger.clicked .search_close {
    display: inline-block;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.search_trigger.clicked .search_bar {
    opacity: 1;
    visibility: visible;
    bottom: -65px;
}

.search_trigger {
    margin-left: 40px;
    text-align: center;

}

.mobile_navbar {
    display: none;
}

.search_bar form button img {
    display: block !important;
}


/* New header css */
.dropdown, .navbar {
    position: inherit !important;
}

.dropdown-menu.show {
    display: flex;
}

.dropdown-menu {
    width: 100%;
    justify-content: center;
    border: none;
    margin: 0;
    background-color: #f2f2f2;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 0;
}

ul.dropdown-menu li {
    display: inline-block;
}

.dropdown-menu::before {
    position: absolute;
    content: attr(data-title);
    top: 32%;
    left: 10%;
    border-right: 2px solid #dddddd;
    font-size: 30px;
    line-height: 24px;
    font-weight: 400;
    padding-right: 38px;
    font-family: 'Playfair Display', serif;
}

ul.dropdown-menu li a {
    font-size: 14px;
    line-height: 24px;
    color: #1a1a1a;
    text-transform: uppercase;
    text-align: left;
    font-weight: 400;
}

ul.dropdown-menu li a:hover,
ul.dropdown-menu li a:focus,
ul.dropdown-menu li a:active {
    font-weight: 500;
}

ul.dropdown-menu li a:hover:after {
    content: "";
    height: 0;
}

.header-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header_menu li.site_cta a {
    background: #ffffff;
    text-transform: uppercase;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 18px 48px !important;
    letter-spacing: 0.2em;
    -webkit-transition: all 0.3s linear !important;
    -o-transition: all 0.3s linear !important;
    transition: all 0.3s linear !important;
    border: none !important;
    outline: none !important;
    display: none;
}


/* ======================
==    Container CSS start
========================*/
.cus-container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section_padding {
    padding: 80px 0;
}

/* ======================
==    Container CSS end
========================*/


/* ======================
==    Footer CSS start
========================*/

.site_footer {
    background-color: #000000 !important;
    position: relative;
}

.footer_section {
    padding: 70px 0 50px 0;
}

h3.widget_title {
    font-size: 19px;
    line-height: 30px;
    font-weight: 500;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
}

ul.quick_links {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.quick_links li a {
    color: #2D3748;
    font-weight: 500;
    margin-bottom: 5px;
}

ul.quick_links li a:hover,
ul.quick_links li a:focus {
    color: #70D6F9;
}

form.subscribe_form {
    position: relative;
    margin-bottom: 20px;
}

form.subscribe_form .form-control {
    height: 51px;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
    border-radius: 100px;
    padding-right: 140px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

form.subscribe_form .site_cta {
    position: absolute;
    top: 0;
    right: 0;
}

form.subscribe_form .form-control:focus {
    /*border-color: #06102B;*/
}

ul.footer_social {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.footer_social li {
    display: inline-block;
}

ul.footer_social li a {
    background: #374C82;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 37px;
    color: #ffffff;
    border-radius: 50px;
    margin-right: 5px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

ul.footer_social li a:hover,
ul.footer_social li a:focus {
    background: #70D6F9;
    color: #06102B;
}

.copyright_section {
    border-top: 1px solid #2d2d2d;
    padding: 37px 0;
}

.copyright_section p {
    text-align: center;
    margin: 0;
}

/* New Footer css*/
.footer-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-top-content {
    background: #f2f2f2;
    padding-top: 81px;
    padding-bottom: 81px;
    margin-top: -60px;
}

.footer-top-content .subscribe-section {
    text-align: center;
}

.footer-top-content .subscribe-section h2 {
    font-size: 38px;
    line-height: 1em;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

.footer-top-content .subscribe-section p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 32px;
}

.footer-top-content .subscribe-section .subscribe_form {
    max-width: 49%;
    margin: 0 auto;
}

.subscribe_form .form-control {
    position: relative;
    height: 74px;
    padding-left: 40px;
    transition: none;
    border: none;

}

.subscribe_form .form-control:hover, .subscribe_form .form-control:active, .subscribe_form .form-control:focus {
    box-shadow: none;
    border: none;
    background: #ffffff;
    color: inherit;
}

.mc4wp-form-fields {
    position: relative;
}

.subscribe_form .site_cta {
    background: #000000 !important;
    color: #ffffff !important;
    position: absolute;
    top: 8px;
    right: 10px;
}

.copyright-text, .footer-social {
    font-size: 14px;
    line-height: 30px;
    text-align: left;
    color: #a5a7ac;
}

.copyright-text a, .footer-social a {
    color: #a5a7ac;
}

.footer-social ul li {
    list-style: none;
    display: inline-block;
}

.footer-social li {
    margin-right: 18px;
}

.footer-social li:last-child {
    margin-right: 0;
}

.site-map {
    display: flex;
}

.site-map .right {
    margin-left: 18px;
}


.site-map .left {
    margin-right: 18px;
}

.site-map {
    display: flex;
    /* margin-top: 13px; */
}

.site-map .right {
    margin-left: 18px;
}

.site-map .left {
    margin-right: 18px;
}

.site-map ul li, .quick-links ul li {
    list-style: none;
}

.site-map ul li a, .quick-links ul li a, .contact-us a {
    font-size: 14px;
    line-height: 2.14em;
    color: #a5a7ac;
}

.contact-us p {
    font-size: 14px;
    line-height: 1.57em;
    color: #a5a7ac;
}

.contact-us p.phone {
    margin-bottom: 2px;
}

.mc4wp-form-fields::after {
    position: absolute;
    top: 34%;
    left: 1%;
    content: "\f003";
    width: 35px;
    height: 35px;
    font-family: FontAwesome;
    color: #000000;
}

/* modal */
.blocker {
    z-index: 99999;
}

.donation_modal {
    max-width: 1240px;
    width: auto;
    padding: 0;
    border-radius: 0;
    z-index: 9999;
    box-shadow: none;
}

.donation_modal .footer-container {
    padding-left: 0;
    padding-right: 0;
}

.modal_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal a.close-modal {
    top: 25px;
    right: 20px;
    background-image: url("../img/close.png");
}
.modal-blocks {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
}

.modal-img, .modal-blocks {
    flex: 1;
}

h2.modal_title {
    text-align: center;
    font-size: 38px;
    font-weight: 400;
    line-height: 1.32em;
}

.desc {
    margin-top: 20px;
    text-align: center;
}

.desc p {
    font-size: 22px;
    color: #1a1a1a;
    line-height: 1.77em;
    margin-bottom: 30px;
}

.site_cta.modal-btn {
    background: #000000 !important;
    color: #ffffff !important;
    padding: 14px 33px;
}
.site_cta.modal-btn:hover,.site_cta.modal-btn:active,.site_cta.modal-btn:focus {
    background: #f2f2f2 !important;
    color: #000000 !important;
}
p.modal-footer {
    border-top: 0;
    padding-left: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #6d6e71;
    padding-top: 20px;
}







